<div class="card">
  <div class="title">
    <div class="area">{{ q.area }}</div>
    <div class="num">{{ q.num }}</div>
  </div>
  <div class="frames">
    <div class="status-frame"></div>
    <div class="question-frame">
      <div class="question">{{ q.question }}</div>
      <ul class="options">
        <li class="option">{{ q.a }}</li>
        <li class="option">{{ q.b }}</li>
        <li class="option">{{ q.c }}</li>
        <li class="option">{{ q.d }}</li>
      </ul>
    </div>
  </div>
</div>
