.card {
  background-color: white;
  height: 100%;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  padding: 8px 8px;
}

.area {
  flex: 1 1 auto;
  font-weight: bold;
}

.num {
  flex: 1 1 auto;
  font-weight: bold;
  text-align: end;
}

.frames {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.status-frame {
  width: 12px;
  flex: 0 0 auto;
}

.question-frame {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 8px;
}

.question {
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;

  margin-top: 16px;
}

.option {
  padding: 4px;
  margin: 2px 0;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.status-right {
  background-color: var(--color-right);
}

.status-wrong {
  background-color: var(--color-worong);
}

.status-undefined {
  background-color: var(--color-undefined);
}

.image {
  margin-top: 16px;
  object-fit: contain;
  width: 100%;
  height: 300px;
}