<div class="card">
  <div class="title" [ngClass]="titleColor()">
    <div class="area">{{ eq.question.area }}</div>
    <div class="num">{{ eq.question.num }}</div>
  </div>
  <div class="frames">
    <div class="status-frame" [ngClass]="statusColor()"></div>
    <div class="question-frame">
      <div class="question">{{ eq.question.question }}</div>
      <div class="options" *ngIf="app.view_mode !== 'summary-view'">
        <mat-checkbox
          *ngFor="let opt of eq.options"
          class="option"
          color="primary"
          [disabled]="opt.disabled"
          [value]="opt.value"
          [ngClass]="optionColor(opt)"
          (click)="onAnswer(opt.value)"
          [(ngModel)]="opt.selected"
          >{{ opt.text }}</mat-checkbox
        >
        <img
          *ngIf="eq.question.image !== '-'"
          class="image"
          [src]="'assets/images/' + eq.question.image + '.png'"
        />
      </div>
    </div>
  </div>
</div>
