:host {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    margin: 2px 0;
}

.title {
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}