.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;

  display: flex;
}

.slide {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 32px;
  width: 350px;
}
