/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    --hue-green: 120;
    --hue-red: 0;

    --color-right: hsl(var(--hue-green), 50%, 80%);
    --color-worong: hsl(var(--hue-red), 50%, 80%);
    --color-undefined: hsl(0, 0%, 80%);
    --color-option: hsl(0, 0%, 95%);
}
