/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    --color-right: hsl(120deg, 50%, 80%);
    --color-worong: red;
    --color-undefined: gray;
}
