/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --hue-red: 0deg;
    --hue-yellow: 60deg;
    --hue-green: 120deg;
    --hue-cyan: 180deg;
    --hue-blue: 240deg;
    --hue-magenta: 300deg;

    --hue-right: var(--hue-green);
    --hue-wrong: var(--hue-red);
}

.bgcolor-right {
    background-color: hsl(var(--hue-right), 50%, 80%);
}

.bgcolor-light-right {
    background-color: hsl(var(--hue-right), 50%, 90%);
}

.bgcolor-wrong {
    background-color: hsl(var(--hue-wrong), 50%, 80%);
}

.bgcolor-light-wrong {
    background-color: hsl(var(--hue-wrong), 50%, 90%);
}

.bgcolor-undefined {
    background-color: hsl(0, 0%, 80%);
}

.bgcolor-light-undefined {
    background-color: hsl(0, 0%, 95%);
}

/* collections */

.bgcolor-alle {
    background-color: #80CBC4;
}

.bgcolor-bundesland {
    background-color: #CE93D8;
}

.bgcolor-exercise {
    background-color: #9FA8DA;
}

.bgcolor-test {
    background-color: #FFAB91;
}

.bgcolor-politik {
    background-color: #FFE082;
}

.bgcolor-geschichte {
    background-color: #81D4FA
}

.bgcolor-gesellschaft {
    background-color: #C5E1A5;
}

.bgcolor-filter {
    background-color: #BCAAA4;
}


